body {
    background-image: url('../img/pexels-rdne-7697715.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    color: #2c3e50;
    padding-top: 100px;
}

h2 {
    font-weight: 700;
    color: #2c3e50;
}

table {
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden;
    font-size: 15px;
}

thead th {
    background-color: #2c3e50;
    color: white;
}

td,
th {
    padding: 12px;
    vertical-align: middle;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}